/*
.splash-title {
}
.neon-pink-border {
}
*/
/* Splash Container - Level 1 */
.splash-container {
  POSITION: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  height: 80dvh;
  width: 80vw;
  border: 1px var(--btn-border) solid;
  border-radius: 16px;
  background: var(--bg-secondary);
  box-sizing: border-box;
  padding: 2vh 2vw;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.splash-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 20px;
  margin: auto;
  border: 1px solid var(--accent-light);
  box-sizing: border-box;
}

.neon-pink-border {
  border: 2px solid oklch(80% 0.15 328);
  /* A lighter "core" border */

  box-shadow:
    0 0 10px oklch(70% 0.322 328 / 0.8),
    /* Inner glow */
    0 0 30px oklch(70% 0.322 328 / 0.4),
    /* Outer atmospheric bloom */
    0 0 60px oklch(70% 0.322 328 / 0.2);
  /* Soft environmental bleed */
}

.button-row {
  position: absolute;
  margin-left: 1.5vw;
  display: flex;
  max-width: 90%;
  gap: 4rem;
  justify-content: space-evenly;
  margin-top: 56vh;
}